.buy{
	width: 120px;
	height: 40px;
	background-color:#ac001c;
	border-radius: 100px;
	text-decoration:none;
	float: right;
	text-align: center;
	line-height: 40px;
	color: white;
	margin-top: 85px
}
