.icon-export{
	background:url('icons/export.png') no-repeat center center;
}
.icon-import{
	background:url('icons/import.png') no-repeat center center;
}
.icon-blank{
	background:url('icons/icon-blank.png') no-repeat center center;
}
.flag_blue{
	background:url('icons/flag_blue.png') no-repeat center center;
}
.flag_green{
	background:url('icons/flag_green.png') no-repeat center center;
}
.flag_orange{
	background:url('icons/flag_orange.png') no-repeat center center;
}
.flag_pink{
	background:url('icons/flag_pink.png') no-repeat center center;
}
.flag_red{
	background:url('icons/flag_red.png') no-repeat center center;
}
.flag_yellow{
	background:url('icons/flag_yellow.png') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-more{
	background:url('icons/more.png') no-repeat center center;
}
.icon-up{
	background:url('icons/up.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-password{
	background:url('icons/password_icon.png') no-repeat center center;
}
.icon-setPassWord{
	background:url('icons/setPassWord.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-yh{
	background:url('icons/yh.png') no-repeat center center;
}
.icon-js{
	background:url('icons/js.png') no-repeat center center;
}
.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-01{
	background:url('icons/01.png') no-repeat center center;
}
.icon-02{
	background:url('icons/02.png') no-repeat center center;
}
.icon-03{
	background:url('icons/03.png') no-repeat center center;
}
.icon-04{
	background:url('icons/04.png') no-repeat center center;
}
.icon-05{
	background:url('icons/05.png') no-repeat center center;
}
.icon-06{
	background:url('icons/06.png') no-repeat center center;
}
.icon-07{
	background:url('icons/07.png') no-repeat center center;
}
.icon-08{
	background:url('icons/08.png') no-repeat center center;
}
.icon-09{
	background:url('icons/09.png') no-repeat center center;
}
.icon-10{
	background:url('icons/10.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}